@import "tailwindcss";

:root,
[data-theme="rose-pine"] {
  --bg: #faf4ed;
  --text: #333047;
  --primary: #56949f;
  --secondary: #31748f;
  --tertiary: #907aa9;
  --highlight: #ea9d34;
  --subtle: #d7827e;
  --custom-green: #569f61;
}

[data-theme="bauhaus"] {
  --bg: #EAEFF5;
  --text: #101318;
  --primary: #E37B66;
  --secondary: #ce705d;
  --tertiary: #E0A568;
  --highlight: #789FA2;
  --subtle: #E7A46F;
  --custom-green: #82ce5d;
}

[data-theme="gruvbox"] {
  --bg: #fbf1c7;
  --text: #282828;
  --primary: #98971a;
  --secondary: #79740e;
  --tertiary: #d79921;
  --highlight: #d65d0e;
  --subtle: #9d0006;
  --custom-green: #427b58;
}

[data-theme="everforest"] {
  --bg: #d7cbb2;
  --text: #272E33;
  --primary: #899d69;
  --secondary: #798c5d;
  --tertiary: #7FBBB3;
  --highlight: #E69875;
  --subtle: #E67E80;
  --custom-green: #83C092;
}

[data-theme="nord"] {
  --bg: #eceff4;
  --text: #2e3440;
  --primary: #88c0d0;
  --secondary: #5e81ac;
  --tertiary: #81a1c1;
  --highlight: #ebcb8b;
  --subtle: #bf616a;
  --custom-green: #a3be8c;
}

[data-theme="catppuccin"] {
  --bg: #d2daf5;
  --text: #313244;
  --primary: #bc90f0;
  --secondary: #b179f4; 
  --tertiary: #f5c2e7;
  --highlight: #f9e2af;
  --subtle: #fab387;
  --custom-green: #a6e3a1;
}

@theme inline {
  --color-background: var(--bg);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--bg);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--bg);
  --color-tertiary: var(--tertiary);
  --color-highlight: var(--highlight);
  --color-subtle: var(--subtle);
  --color-custom-green: var(--custom-green);

  /* for shadcn components */
  --color-card: var(--bg);
  --color-card-foreground: var(--text);
  --color-popover: var(--bg);
  --color-popover-foreground: var(--text);
  --color-accent: var(--secondary);
  --color-accent-foreground: var(--bg);
  --color-input: var(--secondary);
  --color-ring: var(--highlight);
  --color-foreground: var(--text);
  --color-muted: color-mix(in oklab, var(--primary) 18%, var(--bg));
  --color-muted-foreground: var(--tertiary);
  --color-border: var(--secondary);
  --color-destructive: var(--subtle);
}
